<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
	padding: 1em;
    color: white;
    background-color: black;
    text-align: center;
}

header img {
  float: left;
  width: 80px;
  height: 80px;
  background: #555;
}

header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #d3d3d3;
}

li {
    float: left;
}

li a {
    display: block;
	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #0066ff;
	color: white;	
}

article {
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>